<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product-Details</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/rps_mobile.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
</head>
<body>
<header>
  <div class="logo">
    <a href="/index.html">
      <img id="img" src="./Img/logene.jfif" alt="" />
    </a>
  </div>
  <div class="group">
    <ul class="navigation">
      <li><a href="/index.html">Trang Chủ</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a id="active" href="">Kích Hoạt Khóa Học</a></li>
    </ul>
  </div>
  <div class="User">
    <div class="but">
      <button><a href="/login.html">Đăng Nhập</a></button>
      <button><a href="/register.html">Đăng Ký</a></button>
    </div>
  </div>
  <div class="icons">
    <ion-icon name="cart-outline"></ion-icon>
    <span>1</span>
  </div>
  <div class="search">
        <span class="icon">
          <ion-icon name="search-outline" class="searchBtn"></ion-icon>
          <ion-icon name="close-outline" class="closeBtn"></ion-icon>
        </span>
  </div>
  <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
  <div class="searchBox">
    <input type="text" placeholder="Search here . . ." />
  </div>
</header>
<div class="details-section">
  <div class="details-left">
    <div class="details-left-name">
      <h1>HTML CSS từ Zero đến Hero</h1>
      <span
      >Trong khóa này chúng ta sẽ cùng nhau xây dựng giao diện 2 trang web
            là The Band & Shopee.</span
      >
    </div>
    <span class="bonus">Bạn sẽ học được gì?</span>
    <div class="details-left-content">
      <ul th:each="p:${id1}">
        <li>
          <ion-icon name="checkmark-outline"></ion-icon>
          <span th:text="${p.noidung}"></span>
        </li>

      </ul>
    </div>
    <div class="details-left-tag">
      <ion-icon name="checkmark-circle"></ion-icon>
      <a href="#">
        Xem các khóa học khác có thể là sự lựa chọn thay thế cho khóa học
        này
      </a>
    </div>
    <span class="cont">Nội dung khóa học</span>
    <div class="details-left-content-2">
      <div class="details-left-content-header1">
        <span class="sp"><strong>13</strong> chương</span>
        <span class="sp"><strong>163</strong> bài học</span>
        <span class="sp">Thời lượng <strong>29 giờ 59 phút</strong></span>
      </div>
      <div class="details-left-content-header2">
        <span class="all">Mở rộng tất cả</span>
      </div>
    </div>
    <div class="accordion">
      <div class="contentBx">
        <div class="accordion-label">
          <ion-icon name="bookmarks"></ion-icon>
          <strong>1.</strong>
          <span>Bắt đầu</span>
        </div>
        <div class="accordion-content">
          <div class="accordion-content">
            <h3 style="padding: 15px 10px 5px 10px">4 bài học</h3>
            <table>
              <tr>
                <td>
                  <ion-icon name="play-circle"></ion-icon>
                  <span
                  ><strong>1. </strong>Bạn sẽ làm được gì sau khóa học
                        ?</span
                  >
                </td>
                <td>03:15</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="contentBx">
        <div class="accordion-label">
          <ion-icon name="bookmarks"></ion-icon>
          <strong>2.</strong>
          <span>Làm quen với HTML</span>
        </div>
        <div class="accordion-content">
          <div class="accordion-content">
            <h3 style="padding: 5px 10px">13 bài học</h3>
            <table>
              <tr>
                <td>
                  <ion-icon name="play-circle"></ion-icon>
                  <span
                  ><strong>1. </strong>Bạn sẽ làm được gì sau khóa học
                        ?</span
                  >
                </td>
                <td>06:20</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="contentBx">
        <div class="accordion-label">
          <ion-icon name="bookmarks"></ion-icon>
          <strong>3.</strong>
          <span>Làm quen với CSS</span>
        </div>
        <div class="accordion-content">
          <div class="accordion-content">
            <h3 style="padding: 5px 10px">27 bài học</h3>
            <table>
              <tr>
                <td>
                  <ion-icon name="play-circle"></ion-icon>
                  <span
                  ><strong>1. </strong>Bạn sẽ làm được gì sau khóa học
                        ?</span
                  >
                </td>
                <td>07:13</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="contentBx">
        <div class="accordion-label">
          <ion-icon name="bookmarks"></ion-icon>
          <strong>4.</strong>
          <span>Đệm, viền và khoảng lề</span>
        </div>
        <div class="accordion-content">
          <div class="accordion-content">
            <h3 style="padding: 5px 10px">9 bài học</h3>
            <table>
              <tr>
                <td>
                  <ion-icon name="play-circle"></ion-icon>
                  <span
                  ><strong>1. </strong>Bạn sẽ làm được gì sau khóa học
                        ?</span
                  >
                </td>
                <td>06:20</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h2 style="padding: 15px 10px">Yêu cầu</h2>
    <div class="details-left-content">
      <ul>
        <li>
          <ion-icon name="checkmark-outline"></ion-icon>
          Máy vi tính kết nối internet (Windows, Ubuntu hoặc MacOS)
        </li>
        <li>
          <ion-icon name="checkmark-outline"></ion-icon>
          Ý thức tự học cao, trách nhiệm cao, kiên trì bền bỉ không ngại cái
          khó
        </li>
        <li>
          <ion-icon name="checkmark-outline"></ion-icon>
          Không được nóng vội, bình tĩnh học, làm bài tập sau mỗi bài học
        </li>
        <li>
          <ion-icon name="checkmark-outline"></ion-icon>
          Khi học nếu có khúc mắc hãy tham gia hỏi/đáp tại group FB: Học lập
          trình web (fullstack.edu.vn)
        </li>
        <li>
          <ion-icon name="checkmark-outline"></ion-icon>
          Bạn không cần biết gì hơn nữa, trong khóa học tôi sẽ chỉ cho bạn
          những gì bạn cần phải biết
        </li>
      </ul>
    </div>
  </div>
  <div class="details-right">
    <div class="details-right-video">
      <iframe
              width="389"
              height="219"
              src="https://www.youtube.com/embed/YTDHcEJs684"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="details-right-content1">
      <span>Miễn phí</span>
      <button>ĐĂNG KÝ HỌC</button>
    </div>
    <div class="details-right-content2">
      <ul>
        <li>
          <ion-icon name="speedometer"></ion-icon>
          <span>Trình độ cơ bản</span>
        </li>
        <li>
          <ion-icon name="wallet"></ion-icon>
          <span>Tổng số <strong>163</strong> bài học</span>
        </li>
        <li>
          <ion-icon name="time"></ion-icon>
          <span>Thời lượng <strong>29 giờ 59 phút</strong></span>
        </li>
        <li>
          <ion-icon name="videocam"></ion-icon>
          <span> Học mọi lúc, mọi nơi </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class="footer-one">
    <img src="/Img/logene1.jpg" alt="">
    <ul>
      <li>Điện Thoại: <span>+123.456.789</span></li>
      <li>Email: <span>volunteerqt123@gamil.com</span></li>
      <li>Địa Chỉ: <span>Cần thơ</span></li>
    </ul>
  </div>
  <div class="footer-two">
    <span>Về Chúng Tôi</span>
    <ul>
      <li>Giới Thiệu</li>
      <li>Cơ Hội Việc Làm</li>
      <li>Lộ Trình Học</li>
    </ul>
  </div>
  <div class="footer-three">
    <span>Hỗ Trợ</span>
    <ul>
      <li>Liên Hệ</li>
      <li>Bảo Mật</li>
      <li>Điều khoản</li>
    </ul>
</footer>
<div class="footers">
  <div class="footers-text">
    Designed By ThanhTri © 2022
  </div>
  <div class="footers-media">
    <a href="https://www.facebook.com/"><img src="/Img/fb1.png" alt=""></a>
    <a href=""><img src="/Img/email.png" alt=""></a>
  </div>
</div>
<script src="/js/app.js"></script>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
