* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    position: absolute;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
}
.logo img {
    height: 35px;
}
.group {
    display: flex;
    align-items: center;
}
header ul {
    position: relative;
    display: flex;
    gap: 30px;
}
header ul li {
    list-style: none;
}
header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
}
header ul li #active {
    border: 1px solid red;
    padding: 5px;
    color: red;
    border-radius: 5px;
}
header ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
header ul li a:hover {
    opacity: 0.5;
}
header .User {
    display: flex;
    align-items: center;
}
header .User .but a {
    text-decoration: none;
    color: #000;
}
header .User .but button:nth-child(1) {
    color: #000;
    font-size: 15px;
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    background: #fff;
}
header .User .but button:nth-child(2) {
    color: #000;
    font-size: 15px;
    height: 30px;
    width: 100px;
    border: 1px solid orange;
    background: #fff;
    border-radius: 15px;
}
header .User .but button:hover {
    opacity: 0.5;
}
header .icons {
    font-size: 2em;
    position: relative;
}
header .icons span {
    position: absolute;
    top: 0%;
    right: 0%;
    line-height: 5%;
    margin-bottom: 50px;
    font-size: 60%;
    color: #fff;
    border: 1px solid red;
    background: red;
    padding: 10px 5px 10px 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(50%) translateY(-40%);
    border-radius: 100%;
    font-weight: bold;
}
header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 10;
    cursor: pointer;
}
.searchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}
.searchBox.active {
    right: 0;
}
.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}
.searchBtn.active {
    left: 0;
}
.closeBtn {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.closeBtn.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}
.menuToggle {
    position: relative;
    display: none;
    left: 0;
}
.banner img {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}
.content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    user-select: none;
    justify-content: center;
}
.content .content-1 {
    background-color: black;
    height: 2px;
    width: 200px;
}
.content .content-2 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin-top: -32px;
}
.content .content-3 {
    background-color: black;
    height: 2px;
    width: 200px;
}
.boxs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    margin-top: 10px;
    padding: 20px;
    margin: 10px;
    background: #f0f0f0;
    border-radius: 15px;
}
.box-image img {
    height: 250px;
    border-radius: 5%;
}
.box-content .box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.box-content .box-name span {
    font-weight: 700;
    margin-right: 5px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    text-align: center;
}
.box-content .box-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px 10px 10px;
}
.box-content .box-price .price {
    padding: 0px 10px 10px 10px;
}
.price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
}
.box-content .box-price .price span {
    font-size: 18px;
    font-weight: 500;
}
.box-content .box-price .price a {
    font-weight: 600;
}
.sale {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
}
.box-content .box-price .sale {
    padding: 0px 10px 0px 10px;
}
.box-content .box-price .sale span {
    font-size: 18px;
}
.box-content .box-price .sale a {
    font-size: 18px;
    color: red;
    font-weight: bold;
    text-decoration: none;
}
.box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c0c0c0;
}
.box-btn button a {
    text-decoration: none;
    color: #ff4500;
}
.box-btn button {
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    margin-top: 15px;
}
.box-btn button:hover {
    opacity: 0.5;
}
.box-btn ion-icon {
    font-size: 25px;
    font-weight: 500;
    color: orangered;
    margin-top: 15px;
    font-weight: 300;
}
.box-btn ion-icon:hover {
    opacity: 0.5;
}
.title {
    padding: 20px 0px 20px 150px;
}
.title span {
    font-size: 18px;
}
.tabs {
    display: flex;
    justify-content: flex-start;
    padding: 10px 150px 0px 150px;
    flex-wrap: wrap;
}
.tabs .tab-item {
    margin: 0px 0px 0px 5px;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    transition: all 0.2s ease;
}
.tab-item {
    min-width: 80px;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    color: #181821;
    background-color: #dee1e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
}
.tab-icon {
    font-size: 24px;
    position: relative;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
    opacity: 1;
    color: #ff4500;
    font-weight: 500;
    border-bottom: 2px solid #ff4500;
}
.tab-content {
    padding: 28px 0px 0px 150px;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}
.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}
.boxeds {
    display: flex;
    flex-wrap: wrap;
}
.boxed {
    margin-top: 10px;
    padding: 20px;
    margin: 20px 20px 10px 0px;
    background: #f0f0f0;
    border-radius: 15px;
}
.boxed-image img {
    height: 250px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
.boxed-content .boxed-content-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.boxed-content-name span {
    font-weight: 600;
    margin-right: 5px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    text-align: center;
    font-weight: 700;
}
.boxed-content-price {
    padding: 5px 10px 10px 10px;
}
.boxed-content-price1 span {
    font-size: 18px;
    font-weight: 500;
}
.boxed-content-price1 a {
    font-weight: 600;
}
.boxed-content-sale {
    padding: 10px 10px 10px 0px;
}
.boxed-content-sale span {
    font-size: 18px;
    font-weight: 500;
}
.boxed-content-sale a {
    font-weight: 600;
    color: red;
}
.boxed-content-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c0c0c0;
}
.boxed-content-btn button a {
    text-decoration: none;
    color: #ff4500;
}
.boxed-content-btn button {
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    margin-top: 15px;
}
.boxed-content-btn button:hover {
    opacity: 0.5;
}
.boxed-content-btn ion-icon {
    font-size: 25px;
    font-weight: 500;
    color: orangered;
    margin-top: 15px;
    font-weight: 300;
}
.boxed-content-btn ion-icon:hover {
    opacity: 0.5;
}
footer {
    background: #181821;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    position: relative;
    z-index: 1000;
}
.footer-one a {
    font-size: 25px;
    padding: 5px;
    color: #fff;
    font-weight: 600;
}
.footer-one ul li {
    color: #a9b3bb;
    list-style: none;
    padding: 5px;
    font-size: 16px;
}
.footer-one span {
    font-style: italic;
}
.footer-two span {
    font-size: 25px;
    padding: 5px;
    color: #fff;
    font-weight: 600;
}
.footer-two ul li {
    color: #a9b3bb;
    list-style: none;
    padding: 5px;
    font-size: 16px;
}
.footer-three span {
    font-size: 25px;
    padding: 5px;
    color: #fff;
    font-weight: 600;
}
.footer-three ul li {
    color: #a9b3bb;
    list-style: none;
    padding: 5px;
    font-size: 16px;
}
.footers {
    display: flex;
    justify-content: space-around;
    background: #181821;
    padding: 10px;
    border-top: 2px solid #333;
    align-items: center;
}
.footers-text {
    color: #a9b3bb;
    font-size: 16px;
}
.footers-media img {
    width: auto;
    height: 40px;
    object-fit: cover;
    padding: 5px;
}
/* Css của form login */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.form-login {
    border: 1px solid #999;
    padding: 50px 50px 30px 50px;
    width: 400px;
}
.form-login-input {
    margin: 15px 0;
}
.form-login-image {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.form-input {
    border: 1px solid #999;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.25s ease;
    outline: none;
}
.form-input:focus {
    border-color: #ff4500;
}
.form-login-input {
    position: relative;
}
.form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: 0;
    left: 11px;
    padding: 0 10px;
    display: inline-block;
    background-color: #fff;
    color: #ff4500;
    font-weight: 500;
    font-size: 14px;
}
.form-login-input .fa-regular {
    position: absolute;
    left: 90%;
    top: 18px;
    cursor: pointer;
}
.form-login-input .hidden {
    display: none;
}
.remember {
    display: flex;
    align-items: center;
}
.remember span {
    color: #999;
    margin-left: 10px;
}
.btn-login button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    font-weight: 600;
    font-style: 20px;
    transition: 0.25s ease;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-login button:hover {
    opacity: 0.5;
}
.or {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    user-select: none;
    justify-content: center;
}
.or-left {
    background-color: #999;
    height: 1px;
    width: 45%;
}
.or-center {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin-top: -22px;
    color: #999;
}
.or-right {
    background-color: #999;
    height: 1px;
    width: 45%;
}
.forgot {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.forgot a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 149, 246);
}
.logins {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 0 10px;
}
.logins a {
    text-decoration: none;
}
.logins span {
    color: #333;
    padding-left: 10%;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logins img {
    height: 30px;
    margin-left: 10px;
    transform: translateX(100%);
}
.login-facebook {
    margin-bottom: 10px;
}
.form-login-2 {
    border: 1px solid #999;
    padding: 20px 60px;
    margin-top: 10px;
}
.form-login-2 span a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 149, 246);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Css của trang chi tiết */
.details-section {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 100px;
}

.details-left-name {
    margin-bottom: 20px;
}
.details-left-name h1 {
    margin-bottom: 20px;
}
.details-left-name span {
    font-weight: 300;
    color: #636e72;
}
.details-section .bonus {
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
}
.details-left-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.details-left-content ul li {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 0;
    margin-right: 30px;
    font-size: 15px;
    color: #333;
    font-weight: 300;
    opacity: 0.9;
}
.details-left-content ul li ion-icon {
    color: #a29bfe;
    font-weight: bold;
    font-size: 16px;
}
.details-left-tag {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bb86fc;
    width: 72%;
    padding: 20px 0px;
    border-radius: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.details-left-tag ion-icon {
    margin-right: 8px;
    color: #22caaf;
    font-size: 20px;
}
.details-left-tag a {
    font-weight: 600;
    font-style: italic;
    color: #bb86fc;
    text-decoration: none;
    text-decoration-line: underline;
}
.cont {
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;
}
.details-left-content-2 {
    display: flex;
    justify-content: space-between;
}
.details-left-content-header1 span strong {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.details-left-content-header1 span {
    padding: 0 15px 0px 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.details-left-content-header2 span {
    font-weight: 600;
    color: #bb86fc;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accordion {
    width: 100%;
}
.accordion .contentBx {
    position: relative;
    margin: 10px 0px;
}
.accordion .contentBx .accordion-label {
    position: relative;
    padding: 15px 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accordion .contentBx .accordion-label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .contentBx .accordion-content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    padding: 0 5px 0px 10px;
    opacity: 0.8;
}
.accordion .contentBx.active .accordion-content {
    height: auto;
    padding: 0 5px 0px 10px;
}
.accordion .contentBx.active .accordion-label::before {
    content: "-";
}
.accordion .contentBx .accordion-label ion-icon {
    transform: translateY(10%);
    padding-right: 7px;
    color: #bb86fc;
}
.accordion .contentBx .accordion-label span {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion-content table {
    width: 100%;
}
.accordion-content table tr td {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 7px;
}
.accordion-content table tr td ion-icon {
    transform: translateY(12%);
    color: #ff4500;
    opacity: 0.5;
}
/* Css right */
.details-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(5%);
}
.details-right-video iframe {
    border-radius: 16px;
}
.details-right-content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-right-content1 span {
    margin: 15px;
    font-size: 32px;
    user-select: none;
    color: #bb86fc !important;
}
.details-right-content1 button {
    font-size: 1rem;
    padding: 10px 36px;
    border-radius: 999px !important;
    border: none;
    background: #bb86fc !important;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.details-right-content2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.details-right-content2 ul li {
    width: 100%;
    list-style: none;
    padding: 8px;
    display: flex;
    align-items: center;
    opacity: 0.8;
}
.details-right-content2 ul li ion-icon {
    padding-right: 10px;
}
